* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html {
    font-family: "Inter", sans-serif;
    color: black;
}
body{
    min-width: 1440px;
    max-width: 100%;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.img-header-back {
    position: absolute;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    z-index: -1;
}
.img-header-logo {
    width: 80px;
    height: 82px;
}
.header-onne {
    display: flex;
    width: 914px;
    justify-content: space-between;
}
.header-onne button {
    width: 140px;
    height: 42px;
    border-radius: 40px;
}
.header-onne button a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    text-decoration: none;
}
#here {
    background-color: #FF69D9;
}
#main {
    display: flex;
    min-width: 1440px;
    height: 4580px;
    justify-content: center;
}
.benefit {
    position: absolute;
    width: 1521px;
    height: 578px;
    top: 78px;
    background-image: url("../../images/tiemnang/image 36.png");
    background-size: contain;
}
.benefit img {
    position: absolute;
    width: 478.1751708984375px;
    height: 319px;
    top: 116px;
    left: 17px;
}
.benefit .box {    
    position: absolute;
    width: 822px;
    height: 461px;
    top: 58px;
    left: 608px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(190, 116, 255, 0.9) 56.83%, rgba(255, 80, 206, 0.85) 99.6%);
}
.box .words {
    position: absolute;
    width: 784px;
    height: 435px;
    top: 18px;
    left: 27px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
}
.words ul {
    padding-inline-start: 40px;
}
.popjobs {
    position: absolute;
    width: 1521px;
    height: 860px;
    top: 651px;
    background-image: url("../../images/tiemnang/Group1.png");
    background-size: contain;
}
.rings {
    position: absolute;
    top: -45.45px;
    left: 1114.46px;
}
.SD,.SE,.WD,.QC {
    position: absolute;
    width: 312.5555114746094px;
    height: 437.5980240609375px;
    top: 228px;
    background-color: white;
    border: solid 5px red;
    border-radius: 35px;
}
.SD {
    left: 47px;
}
.i52 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 79px;
    left: 74px;
}
.SD p {
    position: absolute;
    width: 255.0856170654297px;
    height: 58.478004455566406px;
    top: 289px;
    left: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.SE {
    left: 416px;
}
.i51 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 79px;
    left: 93.98px;
}
.SE p {
    position: absolute;
    width: 238.95370483398438px;
    height: 58.478004455566406px;
    top: 295.05px;
    left: 36.07px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.WD {
    left: 785px;
}
.i53 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 79px;
    left: 80.97px;
}
.WD p {
    position: absolute;
    width: 228.87127685546875px;
    height: 58.478004455566406px;
    top: 289px;
    left: 41.11px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.QC {
    left: 1154px;
}
.i54 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 79px;
    left: 80.95px;
}
.QC p {
    position: absolute;
    width: 260.1268310546875px;
    height: 72.5933837890625px;
    top: 289px;
    left: 24.98px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
}
.brands {
    position: absolute;
    width: 1521px;
    height: 996px;
    top: 1509px;
    background-image: url("../../images/tiemnang/Group2.png");
    background-size: contain;
}
.FPT,.VNG,.Viettel {
    position: absolute;
    width: 312.55999755859375px;
    height: 493.6300048828125px;
    top: 265px;
    background-color: white;
    border: solid 5px red;
    border-radius: 35px;
}
.FPT {
    left: 149px;
}
.FPT .logo {
    position: absolute;
    width: 362.6497497558594px;
    height: 241.76649475097656px;
    top: 76px;
    left: -33.06px;
}
.FPT p {
    position: absolute;
    width: 217.3894805908203px;
    height: 41.968544006347656px;
    top: 358px;
    left: 54.1px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
.VNG {
    left: 616px;
}
.VNG .logo {
    position: absolute;
    width: 312.55999755859375px;
    height: 312.55999755859375px;
}
.VNG p {
    position: absolute;
    width: 264px;
    height: 39px;
    top: 358px;
    left: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
.Viettel {
    left: 1116px;
}
.Viettel .logo {
    position: absolute;
    width: 235.16253662109375px;
    height: 147px;
    top: 80px;
    left: 38px;
}
.Viettel p {
    position: absolute;
    width: 209px;
    height: 39px;
    top: 358px;
    left: 51px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
.brands2 {
    position: absolute;
    width: 1521px;
    height: 856px;
    top: 2505px;
    background-image: url("../../images/tiemnang/Group3.png");
    background-size: cover;
}
.ring {
    position: absolute;
    width: 537.41790071px;
    height: 537.41790071px;
    top: -271px;
    left: 500px;
}
.Google,.Microsoft,.Amazon,.Apple {
    position: absolute;
    width: 312.5555114746094px;
    height: 494.038330078125px;
    top: 281px;
    background-color: white;
    border: solid 5px red;
    border-radius: 35px;
}
.Google {
    left: 52px;
}
.Google .logo {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 133px;
    left: 91px;
}
.Google p {
    position: absolute;
    width: 255px;
    height: 29px;
    top: 401.48px;
    left: 28.775px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}
.Microsoft {
    left: 421px;
}
.Microsoft .logo {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 133px;
    left: 90.98px;
}
.Microsoft p {
    position: absolute;
    width: 255px;
    height: 29px;
    top: 401.48px;
    left: 28.775px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}
.Amazon {
    left: 790px;
}
.Amazon .logo {
    position: absolute;
    width: 288px;
    height: 88.75472259521484px;
    top: 149px;
    left: 11.97px;
}
.Amazon p {
    position: absolute;
    width: 255px;
    height: 29px;
    top: 401.48px;
    left: 28.775px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}
.Apple {
    left: 1158px;
}
.Apple .logo {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 97px;
    left: 80.95px;
}
.Apple p {
    position: absolute;
    width: 255px;
    height: 29px;
    top: 401.48px;
    left: 28.775px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}
.exp {
    position: absolute;
    width: 1521px;
    height: 1219px;
    top: 3361px;
    background-image: url("../../images/tiemnang/Group4.png");
    background-size: contain;
}
.flower {
    position: absolute;
    width: 319.02894805797234px;
    height: 330.65348648017994px;
    top: -128px;
    left: -65px;
    rotate: 125deg;
    opacity: 0.8;
}
.Jr,.Mid,.Sr,.Tech,.Techer {
    position: absolute;
    width: 310px;
    height: 490px;
    background-color: white;
    border: solid 5px red;
    border-radius: 35px;
}
h1 {
    position: absolute;
    width: 301px;
    height: 29px;
    top: 20px;
    left: 4.5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.Jr {
    top: 149px;
    left: 165px;
}
.Jr .icon {
    position: absolute;
    width: 177px;
    height: 177px;
    top: 35px;
    left: 67px;    
}
.Jr p {
    position: absolute;
    width: 299px;
    height: 260px;
    top: 220px;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
}
.Mid {
    top: 149px;
    left: 605px;
}
.Mid .icon {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 53px;
    left: 80px;
}
.Mid p {
    position: absolute;
    width: 299px;
    height: 260px;
    top: 220px;
    font-weight: 600;
    font-size: 27px;
    line-height: 100%;
    text-align: center;
}
.Sr {
    top: 149px;
    left: 1044px;
}
.Sr .icon {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 50px;
    left: 88px;
}
.Sr p {
    position: absolute;
    width: 299px;
    height: 260px;
    top: 220px;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
}
.Tech {
    top: 671px;
    left: 365px;
}
.Tech .icon {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 49px;
    left: 79px;
}
.Tech p {
    position: absolute;
    width: 299px;
    height: 260px;
    top: 220px;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
}
.Techer {
    top: 671px;
    left: 835px;
}
.Techer .icon {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 63px;
    left: 94px;
}
.Techer p {
    position: absolute;
    width: 299px;
    height: 260px;
    top: 220px;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
}

.popjobs{
    position: relative;
}


.popjobs div p{
    position: absolute;
    transition: transform 0.5s ease;
}

.popjobs div img{
    transition: transform 0.5s ease;
    
}
.popjobs div:hover{
    background-color: #00FFE5;
    opacity: 1;
    animation: rainbow-border 3s linear infinite;
}
.popjobs div:hover .i51, .popjobs div:hover .i52, .popjobs div:hover .i53, .popjobs div:hover .i54{
    transform: translateY(-60px);
    
}
#i51::after{
    content: "Kỹ sư phần mềm (Software Engineer)";
    position: absolute;
    width: 240px;
    right: 0px;
}

.popjobs div:hover #i51::after{
    content: "Thiết kế, phát triển và duy trì các hệ thống phần mềm phức tạp, đảm bảo chúng hoạt động đúng yêu cầu và hiệu quả";
    transform: translateY(-60px);
}

#i52::after{
    content: "Lập trình viên (Software Developer)";
    position: absolute;
    width: 250px;
    right: 0px;
}

.popjobs div:hover #i52::after{
    transform: translateY(-60px);
    content: "Phát triển, viết và kiểm thử mã nguồn cho các ứng dụng và hệ thống phần mềm";
}
#i53::after{
    content: "Nhà phát triển web (Web Developer)";
    position: absolute;
    width: 240px;
    right: 0px;
}

.popjobs div:hover #i53::after{
    transform: translateY(-60px);
    content: "Thiết kế và phát triển các trang web và ứng dụng web, bao gồm cả giao diện người dùng và phần back-end";
}
#i54::after{
    position: absolute;
    width: 244px;
    right: 0px;
    content: "Kỹ sư kiểm thử phần mềm (Software Tester QC Engineer)";
}

.popjobs div:hover #i54::after{
    transform: translateY(-60px);
    content: "Kiểm thử và đảm bảo chất lượng phần mềm trước khi phát hành, phát hiện và sửa chữa lỗi";
}
  .popjobs div::before {
    transition: opacity 0.3s ease;
  }
  .popjobs div:hover {
    opacity: 1;
    animation: rainbow-border 3s linear infinite;
  }
  .brands div::before {
    transition: opacity 0.3s ease;
  }
  .brands div:hover {
    opacity: 1;
    animation: rainbow-border 3s linear infinite;
  }
  .brands2 div::before {
    transition: opacity 0.3s ease;
  }
  .brands2 div:hover{
    opacity: 1;
    animation: rainbow-border 3s linear infinite;
  }
  .exp div::before {
    transition: opacity 0.3s ease;
  }
  .exp div:hover{
    opacity: 1;
    animation: rainbow-border 3s linear infinite;
  }

  @keyframes rainbow-border {
    0%   { border-color: red; }
    14%  { border-color: orange; }
    28%  { border-color: yellow; }
    42%  { border-color: green; }
    57%  { border-color: cyan; }
    71%  { border-color: blue; }
    85%  { border-color: violet; }
    100% { border-color: red; }
  }




.brands div p{
    position: absolute;
    transition: transform 0.5s ease;
}

.brands div img{
    transition: transform 0.5s ease;
    
}
.brands div:hover{
    background:linear-gradient(180deg, #FF00D9, #BE74FF);   
}
.logo{
    position: absolute;
}
.brands div:hover .logo-FPT{
    transform: translateY(-140px) scale(1);
} 
.brands div:hover .logo-VNG{
    transform: translateY(-50px) scale(0.7);
} 
.brands div:hover .logo-Viettel{
    transform: translateY(-90px) scale(0.7);
} 



.FPT p::after{
    content: "PT Software";
    position: absolute;
}

.VNG p::after{
    content: "VNG Corporation";
    position: absolute;
}


.Viettel p::after{
    content: "Viettel Group";
    position: absolute;
}


.FPT:hover p::after{
    content: "Một trong những công ty công nghệ lớn nhất Việt Nam, chuyên cung cấp các dịch vụ phần mềm và giải pháp công nghệ thông tin";
    position: absolute;
    width: 300px;
    text-align: center;
    right: -30px;
    transform: translateY(-200px);
    
}

.VNG:hover p::after{
    content: "Công ty công nghệ hàng đầu Việt Nam, nổi tiếng với các sản phẩm như Zalo, Zing MP3 và các dịch vụ game trực tuyến";
    position: absolute;
    width: 300px;
    text-align: center;
    right: -10px;
    transform: translateY(-160px);
    
}


.Viettel:hover p::after{
    content: "Tập đoàn viễn thông lớn nhất Việt Nam, có nhiều cơ hội việc làm trong lĩnh vực công nghệ thông tin và phần mềm";
    position: absolute;
    width: 300px;
    text-align: center;
    right: -40px;
    transform: translateY(-180px);
}


.brands2 div p{
    position: absolute;
    transition: transform 0.5s ease;
}

.brands2 div img{
    transition: transform 0.5s ease;
    
}

.logo{
    position: absolute;
}
.brands2 div:hover .logo-Microsoft{
    transform: translateY(-120px);
} 
.brands2 div:hover .logo-Amazon{
    transform: translateY(-120px);
} 
.brands2 div:hover .logo-Apple{
    transform: translateY(-100px);
} 
.brands2 div:hover .logo-Google{
    transform: translateY(-120px);
} 

.Google p::after{
    content: "Google";
    position: absolute;
    left: 50px;
}

.Microsoft p::after{
    content: "Microsoft";
    position: absolute;
    left: 50px;
}

.Amazon p::after{
    content: "Amazon";
    position: absolute;
    left: 50px;
}

.Apple p::after{
    content: "Apple";
    position: absolute;
    left: 50px;
}


.Google:hover p::after{
    content: "Gã khổng lồ công nghệ toàn cầu, luôn tìm kiếm các kỹ sư phần mềm tài năng để phát triển các sản phẩm và dịch vụ của mình";
    position: absolute;
    width: 300px;
    text-align: center;
    left: -30px;
    transform: translateY(-180px);
    top: -0px;
    font-size: 28px;
}
.Microsoft:hover p::after{
    content: "Công ty công nghệ hàng đầu thế giới, cung cấp nhiều cơ hội việc làm trong lĩnh vực phát triển phần mềm và công nghệ thông tin";
    position: absolute;
    width: 300px;
    text-align: center;
    left: -30px;
    transform: translateY(-180px);
    top: -0px;
    font-size: 28px;
}
.Amazon:hover p::after{
    content: "Tập đoàn thương mại điện tử và công nghệ, có nhiều vị trí tuyển dụng trong lĩnh vực phát triển phần mềm và dịch vụ đám mây";
    position: absolute;
    width: 300px;
    text-align: center;
    left: -30px;
    transform: translateY(-180px);
    top: -0px;
    font-size: 28px;
}
.Apple:hover p::after{
    content: "Công ty công nghệ nổi tiếng với các sản phẩm như iPhone, iPad và MacBook, cung cấp nhiều cơ hội việc làm trong lĩnh vực phát triển phần mềm và công nghệ thông tin";
    position: absolute;
    width: 300px;
    text-align: center;
    left: -30px;
    transform: translateY(-180px);
    top: -80px;
    font-size: 28px;
}
.brands2 .Google:hover{
    background-color: #EA97FC;   
}
.brands2 .Microsoft:hover{
    background-color: #EA97FC;     
}
.brands2 .Amazon:hover{
    background-color: #F5FC97;   
}
.brands2 .Apple:hover{
    background-color: #F5FC97;    
}

.exp div:hover{
    background-color: #CAFFAC;
}

.exp div .icon{
    transition: transform 0.5s ease;
}

.exp div:hover .icon{
    transform: translateY(-60px);
}
.exp div:hover h1{
    opacity: 0;
  pointer-events: none;
}

.Jr p::after{
    content: "Là những lập trình viên mới bắt đầu hoặc có ít kinh nghiệm. Thường có thể giải quyết các vấn đề đơn giản và cần hướng dẫn để hoàn thành các nhiệm vụ phức tạp hơn";
}
.Mid p::after{
    content: "Là những lập trình viên có kinh nghiệm từ 2-5 năm. Đã có thể giải quyết các vấn đề phức tạp hơn mà không cần sự hướng dẫn nhiều như junior developer";
}
.Sr p::after{
    content: "Là những lập trình viên có kinh nghiệm trên 5 năm, có khả năng tự động giải quyết các vấn đề phức tạp và đưa ra các giải pháp tối ưu, có khả năng lãnh đạo và hướng dẫn junior và mid-level developer";
}
.Tech p::after{
    content: "Là những lập trình viên có trình độ cao, kinh nghiệm thực tế và có khả năng lãnh đạo đội nhóm. Tech lead thường đảm nhận trách nhiệm cao hơn trong quản lý và phát triển dự án";
}
.Techer p::after{
    content: "Là những lập trình viên có trình độ cao, kinh nghiệm thực tế, khả năng lãnh đạo, chịu trách nhiệm quản lý, phát triển dự án và thiết kế kiến trúc hệ thống, đảm bảo tạo ra các giải pháp kỹ thuật phức tạp đáp ứng yêu cầu cao cấp của khách hàng.";
}

.Jr p:hover::after{
    display: block;
    margin-top: -80px;
    width: 300px; 
    text-align: center;     
    word-wrap: break-word;
    white-space: pre;
    font-size: 22px;
    content: "Mid-Level Developer \A(3-5 năm kinh nghiệm)\A\A Việt Nam \A 20-35 triệu VNĐ/tháng\A\A Quốc tế (Mỹ, Châu Âu)\A 90,000-120,000 USD/năm\A\A✅ Kinh nghiệm tốt, cơ hội\A thăng tiến, lương cao\A ❌ Áp lực tăng, cạnh tranh\A cao";

}
.Mid p:hover::after{
    display: block;
    margin-top: -90px;
    width: 300px; 
    text-align: center;     
    word-wrap: break-word;
    white-space: pre;
    font-size: 22px;
    content: "Junior Developer \A(1-3 năm kinh nghiệm)\A\A Việt Nam \A 10-20 triệu VNĐ/tháng\A\A Quốc tế (Mỹ, Châu Âu)\A 60,000-90,000 USD/năm\A\A✅ Học hỏi nhanh, công việc\A đa dạng, ít áp lực.\A ❌ Lương thấp, thiếu kinh\A nghiệm.";
}
.Sr p:hover::after{
    display: block;
    margin-top: -80px;
    width: 300px; 
    text-align: center;     
    word-wrap: break-word;
    white-space: pre;
    font-size: 22px;
    content: "Lead Developer \A(10+ năm kinh nghiệm)\A\A Việt Nam \A 60-100 triệu VNĐ/tháng\A\A Quốc tế (Mỹ, Châu Âu)\A 150,000-200,000 USD/năm\A\A✅ Kinh nghiệm dày dặn,\A lãnh đạo nhóm, lương cao\A ❌ Áp lực lớn, công việc\A phức tạp";
}
.Tech p:hover::after{
    display: block;
    margin-top: -80px;
    width: 300px; 
    text-align: center;     
    word-wrap: break-word;
    white-space: pre;
    font-size: 22px;
    content: "Technical Lead \A(10+ năm kinh nghiệm)\A\A Việt Nam \A 60-100 triệu VNĐ/tháng\A\A Quốc tế (Mỹ, Châu Âu)\A 150,000-200,000 USD/năm\A\A✅ Quản lý dự án, ảnh\A hưởng lớn, lương rất cao \A❌ Áp lực cực lớn, \Aít coding, nhiều quản lý";
}
.Techer p:hover::after{
    display: block;
    margin-top: -80px;
    width: 300px; 
    text-align: center;     
    word-wrap: break-word;
    white-space: pre;
    font-size: 22px;
    content: "Technical Lead \A(10+ năm kinh nghiệm)\A\A Việt Nam \A 60-100 triệu VNĐ/tháng\A\A Quốc tế (Mỹ, Châu Âu)\A 150,000-200,000 USD/năm\A\A✅ Quản lý dự án, ảnh\A hưởng lớn, lương rất cao \A❌ Áp lực cực lớn, \Aít coding, nhiều quản lý";
}
