body{
    min-width: 1440px;
    max-width: 1440px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.img-header-back {
    position: absolute;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    z-index: -1;
}

.img-header-logo {
    width: 80px;
    height: 82px;
}

.header-onne {
    display: flex;
    width: 914px;
    justify-content: space-between;
}

.header-onne button {
    width: 140px;
    height: 42px;
    border-radius: 40px;
}

.header-onne button a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    text-decoration: none;
}
.container{
    margin-top: 90px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 13.07.59\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.slider-logo-img{
    width: 469.29px;
    height: 764px;
    position: absolute;
    right: 25.71px;
    bottom: 36px;
}
.slider{
    position: relative;
    height: 828px;
}
.slider-head-img{
    width: 943.5px;
    height: 372.5px;
    position: absolute;
    left: 199px;
    top: 93px;
}
.slider-body-logoo{
    width: 15%;
    position: absolute;
    left: 44px;
    top: 219px;
}
.slider-body-contain-logoo{
    width: 185.63px;
    background-color: #D9D9D9;
    height: 202px;
    border-radius: 37px 0px 0px 37px;
}
.slider-body-content{
    background-color: #D9D9D9;
    width: 354px;
    height: 202px;
    margin-right: 106px;
    border-radius: 0px 37px 37px 0px;
}
.slider-p{
    font-size: 40px;
    color: #2E596A;
}
.slider-p-logo{
    width: 71.7px;
    height: 39px;
    margin-left: 235px;
}
.slider-body-contain{
    display: flex;
    position: absolute;
    bottom: 64px;
    left: 76px;
}
.thuanloi{
    width: 1409.29px;
    height: 324px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 22.21.03\ 1.png);
    background-size: 100%;
    position: relative;
    left: 59px;
}
.thuanloi-head{
    width: 359px;
    height: 93px;
    border-radius: 37px;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 56px;
    top: 112px;
    display: flex
; z-index: 3;
    align-items: center;
    justify-content: space-around;
}

.thuanloi-head-img{
    width: 288.45px;
    height: 60px; 
}
.thuanloi-contain{
    background-color: #C9D6F1;
    width: 401px;
    height: 128px;
    border-radius: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.thuanloi-container{
    width: 1043px;
    height: 289px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 420px;
    justify-content: space-evenly;
    align-items: end;
    
}
.thuanloi-content{
    font-size: 24px;
    font-weight: 550;
}

.thuanloi-logo{
    width: 269px;
    height: 218px;
    position: absolute;
    top: 50px;
    left: 305px;
    z-index: 2;
}
.thuanloi-logo-img{
    width: 97.94px;
    height: 91.82px;
    position: absolute;
    
}
.iimg1{
    left: 467px;
    top: 89px;
    z-index: 3;
}
.iimg3{
    left: 458px;
    top: 265px;
    z-index: 3;
}
.iimg2{
    top: 89px;
    left: 909px;
    z-index: 3;
}
.iimg4{
    left: 918px;
    top: 257px;
    z-index: 3;
}
.ketluan{
    width: 1384.38px;
    height: 444px;
    position: relative;
    top: 95px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 22.53.41\ 1.png);
    background-size: 100%;
    left: 71px;
}
.ketluan-head{
    width: 1236px;
    height: 61px;
    background-color: #C9D6F1;
    position: absolute;
    left: 70px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ketluan-head-img{
    width: 349.91px;
    height: 68px;
}
.ketluan-body{
    width: 1236px;
    height: 323px;
    background-color: #C9D6F1;
    left: 75px;
    top: 120px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.ketluan-content{
    width: 873px;
    height: 291px;
    font-size: 28px;
}
.ketluan-img1{
    height: 364.5px;
    width: 444px;
    position: absolute;
    right: 971.38px;
    top: 61px;
    z-index: 2;
}
.ketluan-img2{
    width: 443px;
    height: 436px;
    position: absolute;
    right: 20.3px;
    top: 8px;
    z-index: 0;
}
.ketluan-img3{
    width: 315.21px;
    height: 191px;
    position: absolute;
    right: 54.17px;
    top: 252px;
    z-index: 2;
}
.khokhan{
    width: 1382.93px;
    height: 324px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 21.49.32\ 1.png);
    background-size: 100%;
    position: relative;
    top: 190px;
    left: 80px;
}
.khokhan-container{
    left: 400px;
}
.khokhan-logo{
    width: 311.56px;
    height: 337.04px;
    position: absolute;
    top: 7px;
    right: 286.63px;
    z-index: 0;
}
.khokhan-head{
    width: 359px;
    height: 93px;
    border-radius: 37px;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    left: 105px;
    top: 120px;
    display: flex; z-index: 3;
    align-items: center;
    justify-content: space-around;
}

.khokhan-head-img{
    width: 242.37px;
    height: 40px; 
}
.others{
    position: relative;
    top: 260.48px;
    width: 1440px;
    height: 1182px;
    background-image: url(/assets/images/thuanloi/IMG_0433.png);
    background-size: 65%;
    background-repeat: no-repeat;
}
.others-tables{
    position: absolute;
    width: 1454px;
    height: 756px;
    top: 145px;
    right: 828px;
    display: flex;
    justify-content: space-evenly;
}
.others-table{
    width: 346px;
    height: 756px;
    background-color: #FFFFFF;
    border-radius: 37px;
}
.others-table-head{
    color: #4E2A7E;
    font-size: 30px;
}
.others-table-content{
    font-size: 28px;
}
.tablee1{
    width: 187px;
    height: 36px;
    padding-top: 84px;
    padding-left: 81px;
}
.tablee2{
    padding-top: 87px;
    padding-left: 21px;
}
.tablee3{
    padding-top: 87px;
    padding-left: 38px;
}
.tablee4{
    padding-top: 87px;
    padding-left: 43px;
}
.tablee11{
    padding-left: 25px;
    padding-top: 51px;
}
.tablee22{
    padding-left: 30px;
    padding-top: 48px;
}
.tablee33{
    padding-left: 36px;
    padding-top: 43px;
}
.tablee5{
    padding-left: 21px;
    padding-top: 48px;
}
.others-img1{
    width: 278.59px;
    height: 422px;
    position: absolute;
    left: 88px;
    top: 627px;
}
.others-img2{
    width: 239.9px;
    height: 293px;
    position: absolute;
    left: 450px;
    top: 678px;
}
.others-img3{
    width: 416.56px;
    height: 264.82px;
    position: absolute;
    left: 660px;
    top: 557px;
}
.others-img4{
    width: 432px;
    height: 362px;
    position: absolute;
    left: 1060px;
    top: 618px;
}
.footer{
    width:1440px;
    height: 1585px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 23.23.55\ 2.png);
    background-size: 100%;
    position: relative;
    top: 300px;
    min-width: 1440px;
}
.footer-back{
    width: 1440px;
    height: 1585px;
    background-image: url(/assets/images/thuanloi/IMG_0455.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-tables{
    position: absolute;
    top: 163px;
    left: 440px;
    width: 1040px;
    height: 1291px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-table{
    width: 347px;
    height: 519px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 37px;
}
.footer-table-head-p{
    color:#4E2A7E;
    font-size: 40px;
}
.footer-table-body-p{
    font-size: 30px;
    width: 260px;
}
.footer-table-head{
    display: flex;
    justify-content: center;
}
.footer-table-body{
    display: flex;
    justify-content: center;
}
.foter-p1{
    width: 260px;
}
.foter-p2{
    width: 246px;
}
.footer-img1{
    width: 380.21px;
    height: 277px;
    position: absolute;
    left: 243px;
    top: 560px;
}
.footer-img2{
    width: 332.3px;
    height: 351px;
    position: absolute;
    left: 802px;
    top: 550px;
}
.footer-img3{
    width: 302px;
    height: 356px;
    position: absolute;
    left: 1200px;
    top: 490px;
}
.footer-img4{
    width: 388px;
    height: 450.5px;
    position: absolute;
    left: 49px;
    top: 1131px;
}
.footer-img5{
    width: 353.85px;
    height: 311px;
    position: absolute;
    left: 1199px;
    top: 1274px;
}