body {
    overflow-x: hidden;
    margin: 0;
  padding: 0;
}
body{
   position: relative;
   min-width: 1440px;
   width: 100%;
   height: 100%;
   background-color: #ffffff;
   padding: 0;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.img-header-back {
    position: absolute;
    min-width: 1440px;
    width: 100%;
    height: 90px;
    z-index: -1;
}

.img-header-logo {
    width: 80px;
    height: 82px;
}

.header-onne {
    display: flex;
    width: 914px;
    justify-content: space-between;
}

.header-onne button {
    width: 140px;
    height: 42px;
    border-radius: 40px;
}

.header-onne button a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    text-decoration: none;
}

.container{
    position: relative;
    width: 100%;
    margin-left: -8px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    
}

.slider{
    position: absolute;
    width: 100%;
    min-width: 1440px;
    height: 828px;
}

.slider-background{
    width: 100%;
    height: 828px;
}

.slider-img-logo{
    width: 944px;
    height: 372px;
    position: absolute;
    left: 154px;
    top: 93px;
}

.slider-container{
    position: absolute;
    width: 1200px;
    height: 172px;
    display: flex;
    top: 93px;
    left: 44px;
}


.slider-img-icon-1{
    width: 309px;
    height: 325px;
   position: absolute;
   top: 118px;
    left: -28px;
}

.slider-img-icon-2{
    width: 470px;
    height: 764px;
    position: absolute;
    top: -20px;
    left: 926px;
}

.slider-body-content{
    position: absolute;
    display: flex;
    width:1116px;
    height: 202px;
    z-index: 2;
    top: 470px;
    left: 56px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}
.slider-body-content div{
    width: 532px;
    height: 202px;
    display: flex;
    
}
.slider-p-logo{
    width: 222px;
    height: 202px;
}

.slider-body-content1{
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 37px;
}
.slider-body-content2{
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 37px;
}
.slider-body-content1 div{
    width: 354px;
    height: 202px;
}
.slider-body-content2 div{
    width: 354px;
    height: 202px;
}
.slider-body-content1 div img{
    width: 72px;
    height: 40px;
}
.slider-body-content2 div img{
    width: 72px;
    height: 40px;
}
.slider-p{
    color: #2E596A;
    font-size: 36px;
}
.slider-body-content div div{
    margin-top: 44px;
}

.slider-body-contain-logo{
    margin-top: 76px;
    margin-left: -14px;
}
.thuanloi{
    width: 1410px;
    height: 324px;
    position: absolute;
    top: 888px;
    left:60px;
    border-style:none ;
    border-radius: 37px;
}
.thuanloi-background{
    width: 1410px;
    height: 324px;
}
.thuanloi-head{
    width: 360px;
    height: 92px;
    position: absolute;
    left: 40px;
    top: 112px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    border-style:none ;
    z-index: 2;
}
.thuanloi-head-img{
   
    width: 288x;
    height: 60px;
}
.thuanloi-container{
    position: absolute;
    display: flex;
    left: 508px;
    top: 20px;
    width: 864px;
    height: 280px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.thuanloi-container div{
    width: 400px;
    height: 128px;
    background-color: #C9D6F1;
    border-radius: 37px;
    border-style: none;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.thuanloi-logo-img{
    width: 98px;
    height: 92px;
    margin-top: 132px;
    margin-left: -96px;
    z-index: 2;
}
.thuanloi-content{
    width: 240px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.thuanloi-tt-img{
    width: 268px;
    height: 218px;
    position: absolute;
    top: 54px;
    left: 316px;
    z-index: 1;
}
.ketluan{
    width: 1384.38px;
    height: 444px;
    position: absolute;
    top: 1276px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 22.53.41\ 1.png);
    background-size: 100%;
    left: 71px;
}
.ketluan-head{
    width: 1236px;
    height: 61px;
    background-color: #C9D6F1;
    position: absolute;
    left: 70px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ketluan-head-img{
    width: 349.91px;
    height: 68px;
}
.ketluan-body{
    width: 1236px;
    height: 323px;
    background-color: #C9D6F1;
    left: 75px;
    top: 120px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.ketluan-content{
    width: 873px;
    height: 291px;
    font-size: 28px;
}
.ketluan-img1{
    height: 364.5px;
    width: 444px;
    position: absolute;
    right: 971.38px;
    top: 61px;
    z-index: 2;
}
.ketluan-img2{
    width: 443px;
    height: 436px;
    position: absolute;
    right: 20.3px;
    top: 8px;
    z-index: 0;
}
.ketluan-img3{
    width: 315.21px;
    height: 191px;
    position: absolute;
    right: 54.17px;
    top: 252px;
    z-index: 2;
}
.khokhan{
    width: 1382.93px;
    height: 324px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 21.49.32\ 1.png);
    background-size: 100%;
    position: absolute;
    top: 1766px;
    left: 80px;
}
.khokhan-container{
    left: 400px;
}
.khokhan-logo{
    width: 311.56px;
    height: 337.04px;
    position: absolute;
    top: 7px;
    right: 286.63px;
    z-index: 0;
}
.khokhan-head{
    width: 359px;
    height: 93px;
    border-radius: 37px;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    left: 105px;
    top: 120px;
    display: flex; z-index: 3;
    align-items: center;
    justify-content: space-around;
}

.khokhan-head-img{
    width: 242.37px;
    height: 40px; 
}
.khokhan-background{
    width: 1382.93px;
    height: 324px;
}
.others{
    position: absolute;
    top: 2156px;
    width: 1440px;
    height: 1182px;
    background-image: url(/assets/images/thuanloi/IMG_0433.png);
    background-size: 65%;
    background-repeat: no-repeat;
    left: 24px;
    display: flex;
}
.others-tables{
   position: absolute;
    width:  1432px;
    height: 756px;
    top: 145px;
    display: flex;
    justify-content: space-evenly;
    left: 4px;
}
.others-table{
    width: 346px;
    height: 756px;
    background-color: #FFFFFF;
    border-radius: 37px;
}
.others-table-head{
    color: #4E2A7E;
    font-size: 30px;
}
.others-table-content{
    font-size: 28px;
}
.tablee1{
    width: 187px;
    height: 36px;
    padding-top: 84px;
    padding-left: 81px;
}
.tablee2{
    padding-top: 87px;
    padding-left: 21px;
}
.tablee3{
    padding-top: 87px;
    padding-left: 38px;
}
.tablee4{
    padding-top: 87px;
    padding-left: 43px;
}
.tablee11{
    padding-left: 25px;
    padding-top: 51px;
}
.tablee22{
    padding-left: 30px;
    padding-top: 48px;
}
.tablee33{
    padding-left: 36px;
    padding-top: 43px;
}
.tablee5{
    padding-left: 21px;
    padding-top: 48px;
}
.others-img1{
    width: 278.59px;
    height: 422px;
    position: absolute;
    left: 88px;
    top: 627px;
}
.others-img2{
    width: 239.9px;
    height: 293px;
    position: absolute;
    left: 450px;
    top: 678px;
}
.others-img3{
    width: 416.56px;
    height: 264.82px;
    position: absolute;
    left: 660px;
    top: 557px;
}
.others-img4{
    width: 432px;
    height: 362px;
    position: absolute;
    left: 1060px;
    top: 618px;
}
.others-background{
    width: 1440px;
    height: 1182px;
}
.footer{
    width:1440px;
    height: 1585px;
    background-image: url(/assets/images/thuanloi/Ảnh\ màn\ hình\ 2025-03-28\ lúc\ 23.23.55\ 2.png);
    background-size: 100%;
    position: absolute;
    top: 3424px;
    min-width: 1440px;
}
.footer-back{
    width: 1440px;
    height: auto;
    background-image: url(/assets/images/thuanloi/IMG_0455.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-tables{
    position: absolute;
    top: 163px;
    left: 440px;
    width: 1040px;
    height: 1291px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-table{
    width: 347px;
    height: 519px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 37px;
}
.footer-table-head-p{
    color:#4E2A7E;
    font-size: 40px;
}
.footer-table-body-p{
    font-size: 30px;
    width: 260px;
}
.footer-table-head{
    display: flex;
    justify-content: center;
}
.footer-table-body{
    display: flex;
    justify-content: center;
}
.foter-p1{
    width: 260px;
}
.foter-p2{
    width: 246px;
}
.footer-img1{
    width: 380.21px;
    height: 277px;
    position: absolute;
    left: 243px;
    top: 560px;
}
.footer-img2{
    width: 332.3px;
    height: 351px;
    position: absolute;
    left: 802px;
    top: 550px;
}
.footer-img3{
    width: 302px;
    height: 356px;
    position: absolute;
    left: 1200px;
    top: 490px;
}
.footer-img4{
    width: 388px;
    height: 450.5px;
    position: absolute;
    left: 49px;
    top: 1131px;
}
.footer-img5{
    width: 353.85px;
    height: 311px;
    position: absolute;
    left: 1199px;
    top: 1274px;
}
.footer-background{
    width:1440px;
    height: 1585px;
}
#footer{
    position: absolute;
    bottom: -5048px;
}
