<!-- footer.html -->
<link rel="stylesheet" href="footer.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<h1>Liên hệ</h1>
<div>
    <img id="logo" src="/assets/images/footer/logo 1.png" alt="Logo">
    <div class="thongtin">
        <div class="diachi">
            <img src="/assets/images/footer/Vector.png" alt="">
            <p>Địa chỉ: Số 12 Nguyễn Văn Bảo, Phường 1, Quận Gò Vấp, Thành phố Hồ Chí Minh</p>
        </div>
        <div class="dienthoai">
            <img src="/assets/images/footer/Vector-1.png" alt="">
            <p>Điện thoại: 028 38940 390 - 100</p>
        </div>
        <div class="tuyensinh">
            <img src="/assets/images/footer/Vector-2.png" alt="">
            <p>Tuyển sinh: 028 39851932 - 028 3895 5858 - 028 3985 1917</p>
        </div>
        <div class="email">
            <img src="/assets/images/footer/Vector-3.png" alt="">
            <p>Email: dhcn@iuh.edu.vn</p>
        </div>
    </div>
    <div class="share">
        <p>Chia sẻ</p>
        <div>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank">
                <img src="/assets/images/footer/logos_facebook.png" alt="Facebook">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/intent/tweet?url=https://example.com&text=Check%20this%20out!" target="_blank">
                <img src="/assets/images/footer/logos_twitter.png" alt="Twitter">
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="/assets/images/footer/skill-icons_instagram.png" alt="Instagram">
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/dialog/send?link=https://example.com&app_id=YOUR_APP_ID&redirect_uri=https://example.com" target="_blank">
                <img src="/assets/images/footer/logos_messenger.png" alt="Messenger">
            </a>
        </div>
    </div>
</div>
